<h1>Artikulos Listing Page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @artikulos.each do |a| %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.description %></td>
        <td><%= link_to 'Delete', artikulo_path(a), method: :delete, data: { confirm: 'Sure ka besh?' } %></td>
        <td><%= link_to 'Show', artikulo_path(a) %></td>
        <td><%= link_to 'Edit', edit_artikulo_path(a) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Gumagawa ng bagong artikulo', new_artikulo_path %></p>

